.sectionStyle {
    height: 100vh;
    width: 100vw;
    background-color: black
}

.imageStyle{
    height: 500px;
    width: 500px;
    margin: 0;
    background-image: url("../../../images/image10.png");
    background-size: cover;
    overflow: hidden
}

.imageStyle2{
    width: 100px;
    margin: 0;

}